@media screen and (max-width: 1300px) {
  .nav {
    margin-right: 5%;
  }

  .aboutOffer {
    font-size: 22px;
  }
}

@media screen and (max-width: 1230px) {
  .header-container {
    grid-template-columns: 130px 1fr;
  }

  .nav {
    margin-right: unset;
  }

  .what-we-info {
    row-gap: 20px;
  }

  .what-we-info-item {
    gap: 30px;
  }

  .what-we-info-text {
    font-size: 20px;
  }

  .questions-block {
    width: 80%;
  }

  .contacts-link {
    font-size: 16px;
  }

  .contacts-block,
  .form-block {
    padding: 30px 20px;
  }

  .label-confirm {
    font-size: 16px;
  }

  .form-input {
    padding: 10px 15px;
    font-size: 16px;
  }

  .form-input::placeholder {
    font-size: 16px;
  }
}

@media screen and (max-width: 1100px) {

  .nav {
    margin-right: unset;
  }

  .intro-image {
    top: 5%;
    width: 70%;
  }

  .intro-desc {
    margin-bottom: 60px;
  }

  .intro-action {
    bottom: 60px;
  }

  h2 {
    font-size: 36px;
    margin-bottom: 40px;
    letter-spacing: 1px;
  }

  .about-title span.wf-name {
    font-size: 36px;
  }

  .about-title span {
    font-size: 20px;
  }

  .intro-container,
  .partners-container,
  .about-container,
  .services-container,
  .certificates-container,
  .questions-container {
    padding: 60px 20px;
  }

  .intro-button {
    font-size: 20px;
  }

  .what-doing {
    margin-bottom: 60px;
    padding: 60px 30px 60px;
  }

  .what-doing-items li {
    font-size: 22px;
    padding: 20px 20px;
  }

  .slogan-title {
    font-size: 36px;
  }

  .slogan-title span {
    font-size: 30px;
  }

  .slogan-small {
    font-size: 28px;
  }

  .slogan-big {
    font-size: 36px;
  }

  .services-container {
    padding-bottom: 40px;
  }

  .contacts-items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content;
    row-gap: 20px;
    column-gap: 30px;
  }

  .about-title span {
    font-size: 22px;
  }

  .rule-container {
    padding: 40px 10px;
  }

  .rule-title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .rule-subtitle,
  .point-title {
    margin-bottom: 20px;
  }

  .rule-subtitle {
    font-size: 26px;
  }

  .point-title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .rule-container p {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .header-container .menu {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    grid-template-rows: 1fr 1fr;
  }

  .header-container .menu .nav {
    grid-column: 1;
    display: flex;
    justify-content: flex-end;
  }

  .nav-link,
  .lang {
    font-size: 17px;
  }

  .menu-add {
    grid-row: 2;
    justify-content: end;
  }

  .intro-title {
    letter-spacing: 2px;
    font-size: 34px;
  }

  .intro-title span:last-child {
    width: 80%;
  }

  .intro-desc {
    font-size: 22px;
    width: 160%;
  }

  .intro-button {
    padding: 15px 20px;
  }

  h2,
  .about-title {
    font-size: 30px;
  }

  .about-title span {
    font-size: 20px;
  }

  .partners-items {
    grid-template-columns: repeat(4, minmax(10%, 25%));
  }

  .partner-slider-item-text,
  .partner-slider-item-name {
    font-size: 19px;
  }

  .what-we-info {
    padding: 0 0;
  }

  .what-we-info-item {
    grid-template-columns: 1fr;
    padding: 30px 30px;
    gap: 20px;
    justify-items: center;
    width: 80%;
    margin: 0 auto 40px;
    background: -webkit-linear-gradient(-30deg, #9fa8bd 0%, rgb(23 72 133) 100%);
  }

  .what-we-info-text {
    order: 1;
    width: 90%;
  }

  .contacts-item,
  .address-place {
    font-size: 14px;
  }

  .success-popup-body {
    width: 60%;
    padding: 40px 20px;
  }

  .success-popup-title {
    font-size: 30px;
    margin-bottom: 25px;
  }

  .success-popup-text {
    font-size: 22px;
    margin-bottom: 35px;
  }

  .success-popup-button {
    padding: 15px 25px;
    font-size: 22px;
  }
}

@media screen and (max-width: 835px) {
  .header-container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-bottom: 20px;
  }

  .header.scroll .logo-small {
    display: none;

  }

  .header.scroll .header-logo,
  .header-logo {
    width: 120px;
  }

  .header-container .menu {
    row-gap: 15px;
  }

  .menu-add {
    justify-content: center;
  }

  .menu-add .soc-link {
    width: 25px;
    height: 25px;
  }

  .intro-container {
    grid-template-columns: 55% 1fr;
  }


  .intro-title {
    letter-spacing: 1px;
    font-size: 30px;
  }

  .intro-title .infras {
    padding: 10px 25px;
  }

  .intro-title span:last-child {
    width: 75%;
    left: 70px;
  }

  .intro-desc {
    font-size: 20px;
    width: 170%;
  }

  .intro-image {
    width: 85%;
  }

  .intro-action {
    width: 80%;
    left: 10%;
    bottom: 40px;
  }

  .aboutOffer {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .what-doing-items {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;
  }

  .what-doing-items li {
    padding: 30px 30px;
  }

  .what-we-info-image {
    width: 60%;
  }

  .services-container {
    padding-bottom: 60px;
  }

  .services-title {
    margin-bottom: 50px;
  }

  .services-item-head {
    grid-template-columns: 250px 1fr;
  }

  .services-item-image {
    height: 150px;
  }

  .services-item-name {
    font-size: 20px;
  }

  .services-item-specific {
    font-size: 18px;
  }

  .services-item-text {
    font-size: 16px;
  }

  .certificates-slider {
    width: 70%;
  }

  .questions-container p {
    font-size: 26px;
  }

  .partner-title {
    font-size: 22px;
  }

  .partner-text {
    font-size: 18px;
    line-height: 110%;
  }
}

@media screen and (max-width: 785px) {

  h2 {
    font-size: 26px;
    letter-spacing: 0;
  }

  .partner-slider-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .partner-slider-item {
    max-width: 40%;
    border: 1px solid #f5ac70;
    padding: 20px 20px;
    margin: 0 auto;
  }

  .partner-slider-item-text,
  .partner-slider-item-name {
    font-size: 22px;
  }

  .partners-items {
    grid-template-columns: repeat(3, minmax(10%, 30%));
    column-gap: 30px;
    row-gap: 30px;
    padding: 30px 30px;
  }

  .partners-item {
    padding: 20px 10px;
  }

  .about-title span {
    font-size: 18px;
  }

  .what-doing {
    padding: 30px 20px;
    box-shadow: 0 0 5px 2px rgb(255 255 255) inset;
  }

  .what-doing-title {
    margin-bottom: 30px;
  }

  .what-we {
    padding: 30px 20px 0;
  }

  .what-we-info-item {
    margin-bottom: 20px;
    width: 100%;
    padding: 20px 20px;
  }

  .what-we-info-text {
    font-size: 16px;
    width: 90%;
  }

  .slogan-title {
    font-size: 30px;
  }

  .slogan-title span {
    font-size: 25px;
  }

  .slogan-small {
    font-size: 22px;
  }

  .slogan-big {
    font-size: 28px;
  }

  .certificate-button-prev, .certificate-button-next {
    width: 20px;
    height: 40px;
    top: calc(50% - 20px);
  }

  .questions-container p {
    font-size: 20px;
  }

  .footer-top .nav-item .nav-link {
    font-size: 18px;
  }

  .nav-title,
  .contacts-title,
  .social-title {
    font-size: 22px;
  }

  .subtitle {
    font-size: 20px;
  }

  .success-popup-body {
    width: 70%;
    padding: 35px 20px;
  }

  .success-popup-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .success-popup-text {
    font-size: 22px;
    margin-bottom: 35px;
  }

  .success-popup-button {
    padding: 10px 20px;
    font-size: 20px;
  }

  .rule-container {
    padding: 30px 10px;
  }

  .rule-title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .rule-subtitle,
  .point-title {
    margin-bottom: 10px;
  }

  .rule-subtitle {
    font-size: 24px;
  }

  .point-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .rule-container p {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 700px) {
  .services-item-head {
    grid-template-columns: 200px 1fr;
    column-gap: 20px;
  }

  .services-item-image {
    height: 120px;
  }

  .services-item-name {
    font-size: 18px;
  }

  .services-item-specific {
    font-size: 16px;
  }
}

@media screen and (max-width: 650px) {

  .header-container {
    flex-direction: unset;
    padding: 10px 20px;
    justify-content: space-between;
  }

  .header-container .menu {
    display: flex;
    position: fixed;
    top: 0;
    right: -120%;
    flex-direction: column;
    padding: 20px 40px 20px;
    margin-top: 120px;
    background-color: #ffffff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all .3s linear;
    margin-left: unset;
    column-gap: unset;
    width: 100vw;
  }

  .burger {
    display: flex;
    position: absolute;
    top: calc(50% - 15px);
    right: 20px;
    z-index: 20;
    transition: all .3s linear;
  }

  .burger.active {
    transform: rotate(180deg);
    transition: all .3s linear;
  }

  .burger.active .burger-line {
    transform: rotate(0);
    transition: all .3s linear;
  }

  .burger.active .burger-line:first-child {
    transform-origin: center center;
    transform: rotate(45deg);
    position: relative;
    top: 10px;
  }

  .burger.active .burger-line:nth-child(2) {
    position: relative;
    transform-origin: center center;
    transform: rotate(-360deg);
    opacity: 0;
  }

  .burger.active .burger-line:last-child {
    transform-origin: center center;
    transform: rotate(-45deg);
    position: relative;
    top: -11px;
  }

  .intro-container,
  .partners-container,
  .about-container,
  .services-container,
  .certificates-container,
  .questions-container {
    padding: 40px 20px;
  }

  .intro-container {
    grid-template-columns: 50% 1fr;
  }

  .inn-block {
    padding: 30px 30px;
  }

  .intro-title {
    font-size: 26px;
    width: 115%;
  }

  .intro-title span {
    padding: 10px 15px;
  }

  .intro-title .infras {
    padding: 10px 25px;
    margin-top: 10px;
    position: relative;
    left: 20px;
  }

  .intro-title span:last-child {
    padding: 5px 15px 10px;
    left: 50px;
    width: 100%;
  }

  .intro-desc {
    padding: 20px 20px;
    width: 150%;
  }

  .intro-action {
    bottom: 25px;
  }

  .intro-button {
    font-size: 18px;
  }

  h2 {
    margin-bottom: 30px;
  }

  .partner-slider {
    margin-bottom: 60px;
  }

  .partner-slider-item {
    max-width: 50%;
  }

  .what-doing,
  .what-we {
    margin-bottom: 30px;
  }

  .questions-container {
    padding: 40px 20px;
  }

  .questions-title {
    margin-bottom: 20px;
  }

  .questions-container p {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .questions-block {
    width: 70%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .contacts-block,
  .form-block {
    width: 100%;
  }

  .partner-container {
    padding: 20px 10px;
  }

  .partner-header {
    margin-bottom: 5px;
  }

  .partner-title {
    font-size: 18px;
    min-width: unset;
  }

  .partner-link,
  .go-back {
    font-size: 14px;
  }

  .partner-menu-item {
    font-size: 14px;
  }

  .partner-text {
    font-size: 16px;
    line-height: 110%;
  }

  .footer .soc-link {
    width: 20px;
    height: 20px;
  }

  .partner-body {
    padding: 0 0;
  }
}

@media screen and (max-width: 600px) {
  .intro-container {
    grid-template-columns: 50% 1fr;
  }

  .inn-block {
    padding: 15px;
  }

  .intro-title {
    font-size: 26px;
  }

  .intro-title .infras {
    padding: 10px 20px;
  }

  h2 {
    font-size: 24px;
  }

  .intro-desc {
    padding: 15px 20px;
    width: 165%;
    font-size: 18px;
  }

  .intro-image {
    width: 90%;
  }

  .intro-action {
    width: 90%;
    left: 5%;
    bottom: 20px;
  }

  .about-title span {
    font-size: 15px;
    margin-top: 10px;
  }

  .aboutOffer {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .what-doing-items li {
    font-size: 18px;
    padding: 15px 15px;
  }

  .services-title {
    margin-bottom: 30px;
  }

  .services-item {
    padding: 15px 15px;
  }

  .services-item-head {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 0;
    row-gap: 20px;
    margin-bottom: 0;
    padding: 15px 15px;
  }

  .services-item-image {
    height: unset;
    width: 100%;
  }

  .services-item-name {
    font-size: 18px;
  }

  .services-item-specific {
    font-size: 16px;
  }

  .services-item-text {
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #ffffff;
    border-top: none;
    box-sizing: border-box;
  }

  .success-popup-body {
    width: 80%;
  }

  .success-popup-title {
    font-family: Murecho-SemiBold, sans-serif;
    font-size: 26px;
  }

  .rule-title {
    font-size: 24px;
  }

  .rule-subtitle {
    font-size: 20px;
  }

  .point-title {
    font-size: 16px;
    line-height: 110%;
  }

  .rule-container p {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {

  .intro-container,
  .partners-container,
  .about-container,
  .services-container,
  .certificates-container,
  .questions-container {
    padding: 30px 10px 35px;
  }

  .intro-container {
    grid-template-columns: 60%;
  }

  .intro-image {
    display: none;
  }

  .intro-title {
    letter-spacing: 0;
    margin-bottom: 20px;
    line-height: 100%;
    width: 120%;
  }

  .intro-title .infras {
    left: 15px;
  }

  .intro-title span {
    padding: 5px 10px 10px;
  }

  .intro-title span:last-child {
    left: 40px;
  }

  .intro-desc {
    width: 140%;
    font-size: 16px;
    padding: 15px 15px;
    margin-bottom: 110px;
  }

  .intro-action {
    position: absolute;
    width: 70%;
    left: 15%;
    bottom: 15px;
    grid-template-columns: 1fr;
    column-gap: unset;
    row-gap: 10px;
  }

  .intro-button {
    font-size: 16px;
    padding: 10px 15px;
  }

  .slogan {
    padding: 30px 20px;
  }

  .slogan-title {
    font-size: 26px;
    line-height: 100%;
  }

  .slogan-title span {
    font-size: 20px;
  }

  .slogan-small {
    font-size: 18px;
  }

  .slogan-big {
    font-size: 24px;
  }

  .partner-slider {
    margin-bottom: 30px;
  }

  .partner-slider-item {
    max-width: 70%;
  }

  .partners-items {
    grid-template-columns: repeat(2, minmax(10%, 45%));
    padding: 40px 20px;
  }

  .about-title {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .about-title span {
    font-family: Murecho-Light, sans-serif;
    font-size: 15px;
    margin-top: 10px;
  }

  .aboutOffer {
    font-size: 14px;
    margin-bottom: 20px;
    width: 90%;
  }

  .what-we {
    padding: 30px 20px 20px;
  }

  .what-doing-items {
    gap: 15px;
  }

  .what-we-info-item {
    padding: 20px 0 20px;
    gap: 10px;
    margin-bottom: 0;
  }

  .what-we-info-image {
    width: 70%;
  }

  .what-we-info-text {
    font-size: 13px;
    padding: 15px 15px;
    width: 85%;
  }

  .certificates-slider {
    width: 90%;
  }

  .questions-block {
    width: 100%;
  }

  .contacts-block {
    padding: 20px 20px 10px;
  }

  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
  }

  .footer-top .nav-items {
    flex-wrap: unset;
    flex-direction: column;
  }

  .footer-top .nav-item:not(:last-child) {
    margin-right: 0;
  }

  .footer-top .nav-item .nav-link {
    font-size: 16px;
  }

  .success-popup-body {
    width: 85%;
    padding: 25px 20px;
  }

  .success-popup-title {
    font-size: 23px;
    margin-bottom: 15px;
  }

  .success-popup-text {
    margin-bottom: 25px;
  }

  .partner-header {
    grid-template-columns: 120px 1fr;
  }
}

@media screen and (max-width: 400px) {

  .navbar {
    width: 100%;
  }

  .logo-scroll.active {
    right: 10px;
  }

  .intro-container {
    grid-template-columns: 65%;
  }

  .intro-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .intro-title span:last-child {
    left: 0;
    width: 95%;
  }

  .intro-desc {
    width: 122%;
    font-size: 13px;
    padding: 10px 10px;
    margin-bottom: 100px;
  }

  h2 {
    font-size: 20px;
  }

  .partner-slider-item-text,
  .partner-slider-item-name {
    font-size: 20px;
  }

  .partners-items {
    justify-content: space-evenly;
    padding: 30px 30px;
    column-gap: 30px;
    row-gap: 30px;
  }

  .partners-title,
  .what-we-title,
  .services-title,
  .certificates-title {
    margin-bottom: 20px;
  }

  .slogan-title span {
    font-size: 14px;
  }

  .slogan-small {
    font-size: 16px;
    width: 92%;
    margin-bottom: 20px;
  }

  .slogan-big {
    font-size: 18px;
  }

  .what-doing-items li {
    font-size: 13px;
  }

  .about-title span {
    width: 90%;
  }

  .what-doing-title {
    margin-bottom: 20px;
  }

  .point-title {
    font-size: 15px;
  }

  .services-item-name {
    font-size: 16px;
  }

  .services-item-specific {
    font-size: 13px;
  }

  .services-item-text {
    font-family: Murecho-Light, sans-serif;
    font-size: 12px;
  }

  .certificate-button-prev, .certificate-button-next {
    width: 10px;
    height: 20px;
    top: calc(50% - 10px);
  }

  .questions-container p {
    font-size: 15px;
  }

  .contacts-link {
    font-size: 14px;
  }

  .questions .contacts-link:not(.phone .contacts-link),
  .phone {
    margin: 0 0 12px;
  }

  .label-confirm {
    font-size: 14px;
  }

  .form-input {
    font-size: 14px;
  }

  .form-button {
    padding: 10px 20px;
  }

  .footer-container {
    padding: 30px 10px 30px;
  }

  .footer-top .logo {
    max-width: 130px;
  }

  .nav-title, .contacts-title, .social-title {
    font-size: 18px;
  }

  .subtitle {
    font-size: 16px;
  }

  .contacts-item, .address-place {
    font-size: 13px;
  }

  .rights {
    font-size: 12px;
  }

  .success-popup-body {
    width: 90%;
    padding: 30px 15px;
  }

  .success-popup-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .success-popup-text {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .success-popup-button {
    padding: 8px 16px;
    font-size: 18px;
  }

  .rule-title {
    font-size: 19px;
    line-height: 110%;
  }

  .rule-subtitle {
    font-size: 17px;
  }

  .partner-menu-item {
    font-size: 13px;
    padding: 9px 9px;
  }

  .partner-link,
  .go-back {
    font-size: 13px;
  }

  .partner-text {
    padding: 15px 9px;
    font-size: 14px;
  }

  .partner-text-item-desc {
    font-size: 12px;
  }
}