@font-face {
  src: url("../fonts/Murecho-Light.ttf");
  font-family: Murecho-Light;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Murecho-Regular.ttf");
  font-family: Murecho-Regular;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Murecho-Medium.ttf");
  font-family: Murecho-Medium;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Murecho-SemiBold.ttf");
  font-family: Murecho-SemiBold;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Murecho-Bold.ttf");
  font-family: Murecho-Bold;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Murecho-ExtraBold.ttf");
  font-family: Murecho-ExtraBold;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Murecho-Black.ttf");
  font-family: Murecho-Black;
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth
}

body {
  min-width: 320px;
  position: relative;
}

body.noscroll {
  overflow-y: hidden;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  min-width: 320px;
}

header, main, footer {
  position: relative;
  z-index: 1;
}

.header {
  position: relative;
  background: #ffffff;
}

.header.scrolly  {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  box-shadow: 0 3px 10px 2px rgb(14 14 14 / 50%);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  position: relative;
}

.logo {
  max-width: 200px;
  text-decoration: none;
}

.logo img {
  width: 100%;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  font-family: Murecho-ExtraBold, sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #264695;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 2px;
  transition: background-size .3s;
}

.nav-link:not(.active):hover {
  color: #f5ac70;
}

.nav-link.active {
  background-size: 100% 2px;
}

.social {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #ffffff;
}

.soc-link {
  margin: 0 5px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
}

.soc-link:nth-child(1) {
  width: 29px;
  height: 29px;
}

.soc-link svg {
  width: 100%;
  height: 100%;
  fill: #264695;
}

.soc-link:nth-child(2):hover svg {
  z-index: -1;
}

.soc-link:nth-child(1):hover svg {
  fill: #1e95c7;
  transform: scale(1.1, 1.1);
}

.soc-link:nth-child(2):hover {
  background-image: url("../images/instagram.png");
  background-size: cover;
}

.soc-link:nth-child(3):hover svg {
  fill: #0076b1;
  transform: scale(1.1, 1.1);
}

.soc-link:nth-child(4):hover svg {
  width: 30px;
  height: 30px;
  fill: #3b589e;
  transform: scale(1.1, 1.1);
}

.lang {
  display: flex;
  align-items: center;
  font-family: Murecho-Bold, sans-serif;
  font-size: 20px;
  color: #264695;
  cursor: pointer;
  box-sizing: border-box;
}

.lang-item {
  transition: all .3s linear;
  padding: 0 2px;
}

.lang-item:not(.active):hover {
  transform: rotate(360deg);
  color: #ffffff;
  background: #264695;
}

.lang-item.active {
  color: #264695;
  background: #f5ac70;
}

.lang-line {
  display: block;
  width: 2px;
  height: 20px;
  background: #264695;
  margin: 0 4px;
}

.intro {
  background-image: url("../images/bg-intro.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.intro-container {
  padding: 120px 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 40% 1fr;
  column-gap: 100px;
  justify-content: space-between;
}

h1 {
  font-family: Murecho-Black, sans-serif;
  font-size: 50px;
  margin-bottom: 50px;
}

.intro-title {
  color: #ffffff;
  max-width: 610px;
  letter-spacing: 4px;
  line-height: 120%;
}

h1 span {
  color: #ff0000;
  text-shadow: 2px 2px 1px rgb(255 255 255);
}

.intro-desc {
  font-family: Murecho-Regular, sans-serif;
  font-size: 26px;
  line-height: 120%;
  max-width: 650px;
  margin-bottom: 90px;
  color: #ffffff;
}

.intro-action {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.button {
  outline: none;
  border: 0;
  font-family: Murecho-Bold, sans-serif;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.intro-button {
  padding: 20px 10px;
  background: #ffffff;
  color: #264695;
  font-size: 26px;
  text-decoration: none;
}

.intro-button:hover {
  font-family: Murecho-ExtraBold, sans-serif;
  color: #ffffff;
  background: #264695;
}

.intro-image {
  max-width: 100%;
}

.intro-image img {
  width: 100%;
  box-shadow: 0 0 20px 10px rgb(255, 255, 255);
}

.partner-slider {
  background: rgb(255 255 255);
  padding: 80px 50px;
}

.partner-slider-title {
  color: #264695;
}

.partner-slider-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: hidden;
}

.partner-slider-item {
  max-width: 20%;
  display: flex;
  flex-direction: column;
}

.partner-slider-item-image {
  flex-grow: 1;
  margin-bottom: 10px;
}

.partner-slider-item img {
  width: 100%;
  flex-grow: 1;
}

.partner-slider-item-text {
  padding: 20px 0;
  font-family: Murecho-Medium, sans-serif;
  font-size: 30px;
  color: #151515;
  text-align: center;
  border: 0;
  border-top: 10px double #808080;
}

.partner-slider-item-name {
  font-family: Murecho-SemiBold, sans-serif;
  font-size: 40px;
  text-align: center;
  color: #151515;
}

.partner-slider-item:first-child {
  position: relative;
  right: -150%;
  animation: show 2s ease-in-out -.5s;
  animation-fill-mode: forwards;
}

.partner-slider-item:nth-child(2) {
  position: relative;
  right: -150%;
  animation: show 2.3s ease-in-out 0s;
  animation-fill-mode: forwards;
}

.partner-slider-item:last-child {
  position: relative;
  right: -150%;
  animation: show 2.5s ease-in-out .5s;
  animation-fill-mode: forwards;
}

@keyframes show {
  to {
    right: 0;
  }
}

.about {
  background-image: url("../images/bg.jpg");
  background-size: contain;
  position: relative;
  scroll-margin-top: 5em;
}

.matrix-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 90%;
  background: #264695;
}

.about-container {
  position: relative;
  padding: 80px 20px;
  z-index: 1;
}

h2 {
  font-family: Murecho-Black, sans-serif;
  font-size: 44px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 60px;

}

.about-title {
  color: #ffffff;
}

.about-title span {
  font-size: 34px;
}

.about p {
  font-family: Murecho-Regular, sans-serif;
  font-size: 34px;
  line-height: 120%;
  text-align: center;
  margin: 0 auto 100px;
  color: #ffffff;
}

.what-doing {
  padding: 30px 10px;
  background: #ffffff;
  margin-bottom: 100px;
}

.what-doing-title {
  color: #264695;
}

.what-doing-items {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  padding: 0 20px;
}

.what-doing-items li {
  font-family: Murecho-Regular, sans-serif;
  font-size: 30px;
  color: #ffffff;
  background: #264695;
  padding: 30px 40px;
  text-align: justify;
  text-indent: 50px;
  border: 1px solid #ffffff;
}

.what-we {
  background: #ffffff;
  padding: 50px 0 20px;
  margin-bottom: 50px;
}

.what-we-title {
  color: #264695;
}

.what-we-info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  box-sizing: border-box;
}

.what-we-info-image {
  min-width: 500px;
}

.what-we-info-image img {
  width: 100%;
}

.what-we-info-item:nth-child(even) .what-we-info-image {
  order: 1;
}

.what-we-info-text {
  font-family: Murecho-SemiBold, sans-serif;
  font-size: 34px;
  line-height: 120%;
  text-align: justify;
  color: #264695;
  padding: 0 60px;
}

.slogan {
  background: #ffffff;
  padding: 40px 0;
}

h3 {
  font-family: Murecho-Regular, sans-serif;
  font-size: 38px;
  text-align: center;
  margin-bottom: 50px;
}

.slogan.change {
  background: #264695;
}

.slogan-title {
  color: #264695;
  margin-bottom: unset;
}

.slogan-title span.orange {
  color: #f5ac70;
}

.slogan-title span:last-child {
  font-family: Murecho-Bold, sans-serif;
  font-size: 50px;
  margin-top: 20px;
  display: inline-block;
}

.slogan-title span {
  font-family: Murecho-ExtraBold, sans-serif;
  font-size: 50px;
  display: inline-block;
  margin-bottom: 20px;
}

.services {
  background-image: url("../images/services-bg.jpg");
  background-size: cover;
  box-shadow: 0 0 13px 12px rgb(255 255 255);
  scroll-margin-top: 5em;
}

.services-container {
  padding: 80px 20px;
}

.services-title {
  color: #ffffff;
  margin-bottom: 80px;
}

.services-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}

.services-item-image {
  width: 100%;
  height: 60%;
  overflow: hidden;
  box-shadow: 0 0 20px 10px rgb(255, 255, 255);
}

.services-item-image img {
  width: 100%;
  transition: all .3s linear;
}

.services-item-image:hover img {
  transform: scale(1.05, 1.05);
}

.services-item-text {
  font-family: Murecho-Medium, sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  color: #ffffff;
}

.certificates {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  position: relative;
}

.certificates-container {
  padding: 80px 20px;
  position: relative;
  z-index: 1;
}

.certificates-title {
  color: #ffffff;
}

.certificates-slider {
  width: 50%;
  position: relative;
}

.swiper-slide-image {
  text-align: center;
}

.swiper-slide-image img {
  width: 100%;
}

.certificate-button-prev,
.certificate-button-next {
  width: 30px;
  position: absolute;
  top: calc(50% - 32px);
  z-index: 2;
  cursor: pointer;
  opacity: 20%;
}

.certificate-button-prev {
  left: 5px;
}

.certificate-button-next {
  right: 5px;
}

.certificate-button-prev svg,
.certificate-button-next svg {
  fill: #264695;
}

.certificate-button-prev:hover,
.certificate-button-next:hover {
  opacity: 100%;
}

.questions {
  background: #ffffff;
  scroll-margin-top: 5em;
}

.questions-container {
  padding: 80px 20px;
}

.questions-title {
  color: #264695;
}

.questions-container p {
  font-family: Murecho-Regular, sans-serif;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  max-width: 650px;
  margin: 0 auto 50px;
  color: #264695;
}

.questions-block {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  box-shadow: 0 15px 20px 0 rgb(0 0 0 / 5%);
  border-radius: 5px;
  border: 1px solid #EBEDEE;
  overflow: hidden;
}

.contacts-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  padding: 40px 40px;
}

.contacts-link {
  display: inline-block;
  margin: 0 0 15px;
  text-decoration: none;
  color: #264695;
  font-family: Murecho-Regular, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.contacts-link:hover {
  color: #f5ac70;
}

.form-block {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #264695;
  padding: 40px 40px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin: 0 0 20px;
  outline: none;
  border: 0;
  border-radius: 5px;
  background-color: #F3F3F3;
  padding: 15px 20px;
  font-family: Murecho-Medium, sans-serif;
  font-size: 20px;
  max-width: 100%;
  color: #264695;
}

textarea {
  min-height: 150px;
  resize: none;
  overflow-y: auto;
}

.form-input::placeholder {
  color: #637ebf;
}

.confirm-box {
  position: relative;
  margin-bottom: 20px;
}

.custom-checkbox {
  position: absolute;
  opacity: 0;
  width: 15px;
  height: 15px;
  top: 4px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}

.custom-checkbox + .label-confirm {
  user-select: none;
}

.label-confirm {
  font-family: Murecho-Regular, sans-serif;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
  padding-left: 25px;
}

.label-confirm a {
  color: #f5ac70;
}

.custom-checkbox + .label-confirm::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #ffffff;
  border-radius: 2px;
}

.custom-checkbox:checked + .label-confirm::before {
  background-image: url("../images/tick.svg");
  background-size: cover;
}

.form-action {
  display: flex;
  justify-content: center;
}

.form-button {
  padding: 15px 20px;
  font-size: 18px;
  background-color: transparent;
  color: #ffffff;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ffffff;
}

.form-button:hover {
  background-color: #172c61;
  border: 1px solid transparent;
}

.footer {
  background-color: #0e1b3b;
}

.footer-container {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.footer-top .nav-items {
  flex-direction: column;
}

.footer-top .nav-item .nav-link {
  background-image: unset;
  display: inline-block;
  margin-bottom: 10px;
  text-transform: unset;
  color: #ffffff;
  font-family: Murecho-SemiBold, sans-serif;
  font-size: 24px;
}

.footer-top .nav-item {
  margin: unset;
}

.footer-top .nav-item .nav-link.active {
  color: #254695;
}

.footer-top .nav-item .nav-link:hover {
  color: #254695;
}

.footer-top .social {
  background-color: unset;
}

.footer-top .social .social-items {
  background: #ffffff;
  padding: 10px;
  border-radius: 20px;
}

.footer-top .soc-link:nth-child(2):hover svg {
  z-index: -1;
}

.footer-top .soc-link:nth-child(1):hover svg {
  fill: #1e95c7;
  transform: scale(1.1, 1.1);
}

.footer-top .soc-link:nth-child(2):hover {
  background-image: url("../images/instagram.png");
  background-size: cover;
}

.footer-top .soc-link:nth-child(3):hover svg {
  fill: #0076b1;
  transform: scale(1.1, 1.1);
}

.soc-link:nth-child(4):hover svg {
  width: 30px;
  height: 30px;
  fill: #3b589e;
  transform: scale(1.1, 1.1);
}

.contacts,
.social {
  color: #ffffff;
}

.nav-title,
.contacts-title,
.social-title {
  font-family: Murecho-Black, sans-serif;
  font-size: 26px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #f5ac70;
}

.subtitle {
  font-family: Murecho-SemiBold, sans-serif;
  font-size: 24px;
  margin-bottom: 5px;
  color: #264695;
}

.contacts-item {
  margin-bottom: 20px;
}

.address-place {
  font-family: Murecho-Regular, sans-serif;
  font-size: 22px;
  margin-bottom: 10px;
}

.footer-top .contacts-link {
  color: #ffffff;
  font-size: 22px;
  font-weight: normal;
  margin: unset;
}

.footer-top .contacts-link:hover {
  color: #f5ac70;
}

.footer .social {
  display: flex;
  flex-direction: column;
}

.social-items {
  display: flex;
}

.rights {
  font-family: Murecho-Light, sans-serif;
  font-size: 18px;
  color: #f5ac70;
}

.partners-main {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  position: relative;
}

.partners-container {
  padding: 80px 20px;
  position: relative;
}

.partners-title {
  color: #ffffff;
}

.partners-items {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 450px));
  column-gap: 25px;
  row-gap: 100px;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
  padding: 100px 100px;
  position: relative;
}

.partners-item {
  padding: 30px;
  cursor: pointer;
  transition: all .2s linear;
}

.partners-item-image img {
  width: 100%;
  filter: opacity(70%);
  transition: all .2s linear;
}

.partners-item:hover .partners-item-image img {
  filter: opacity(100%);
  transform: scale(1.05, 1.05);
}

.partners-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay.show {
  z-index: 2;
}

.partners-popup-body {
  position: absolute;
  top: 0;
  right: -110%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 15%;
  box-sizing: border-box;
  /*background: #ffffff;*/
  z-index: -2;
}

.partners-popup.show .partners-popup-body {
  z-index: 5;
  opacity: 100%;
  animation: moveLeft .5s linear forwards;
  background: #264695;
  background: linear-gradient(144deg,#264695 0%, #a8b6c8 100%);
  background: -webkit-linear-gradient(144deg,#264695 0%, #a8b6c8 100%);
  background: -moz-linear-gradient(144deg,#264695 0%, #a8b6c8 100%);
}

@keyframes moveLeft {
  to {
    right: 0;
  }
}

.partners-popup-close {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  fill: #ffffff;
  transition: all .3s linear;
  z-index: 5;
}

.partners-popup-close:hover {
  fill: #172C61;
  transform: rotate(180deg);
}

.partners-popup-title {
  font-family: Murecho-ExtraBold, sans-serif;
  font-size: 40px;
  margin-bottom: 50px;
  color: #ffffff;
}

.partners-popup-text {
  font-family: Murecho-Regular, sans-serif;
  font-size: 34px;
  line-height: 120%;
  text-align: justify;
  color: #ffffff;
  text-indent: 5%;
}


.success-popup {
  position: fixed;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.success-popup.show {
  display: flex;
}

.success-popup-overlay {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: #172C61;
  opacity: 80%;
  z-index: 10;
}

.success-popup-overlay.show {
  display: block;
}

.success-popup-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  z-index: 11;
  background: #ffffff;
  padding: 50px 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.success-popup-text {
  font-family: Murecho-SemiBold, sans-serif;
  font-size: 36px;
  color: #264695;
  text-align: center;
  margin-bottom: 50px;
}

.success-popup-text span {
  font-family: Murecho-Regular, sans-serif;
  font-size: 26px;
}

.success-popup-action {
  width: 100%;
  display: flex;
  justify-content: center;
}

.success-popup-button {
  padding: 20px 30px;
  background: #264695;
  color: #ffffff;
  font-size: 26px;
  border-radius: 5px;
}

.success-popup-button:hover {
  background: #172c61;
}

.rule-container {
  padding: 100px 20px;
}

.rule-title {
  text-align: center;
  color: #264695;
}

.rule-subtitle,
.point-title {
  color: #264695;
}

.point-title {
  text-align: left;
  text-indent: 100px;
}

.rule-container p {
  font-family: Murecho-Regular, sans-serif;
  font-size: 30px;
  color: #264695;
  line-height: 120%;
  text-indent: 100px;
  text-align: justify;
  margin-bottom: 30px;
}

.rule-container p span {
  font-weight: bold;
}

.rule-container p.p-extra {
  text-indent: unset;
}

.rule-container p.p-extra span {
  display: inline-block;
  text-indent: 100px;
  font-weight: normal;
}



