@font-face {
  src: url("../fonts/Murecho-Thin.ttf");
  font-family: Murecho-Thin;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Murecho-ExtraLight.ttf");
  font-family: Murecho-ExtraLight;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Murecho-Light.ttf");
  font-family: Murecho-Light;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Murecho-Regular.ttf");
  font-family: Murecho-Regular;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Murecho-Medium.ttf");
  font-family: Murecho-Medium;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Murecho-SemiBold.ttf");
  font-family: Murecho-SemiBold;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Murecho-Bold.ttf");
  font-family: Murecho-Bold;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Murecho-ExtraBold.ttf");
  font-family: Murecho-ExtraBold;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Murecho-Black.ttf");
  font-family: Murecho-Black;
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth
}

body {
  min-width: 320px;
  position: relative;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  min-width: 320px;
}

.bg-filter {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/bg.jpg");
  background-size: contain;
  /*background-repeat: no-repeat;*/
  filter: opacity(10%);
}

header, main, footer {
  position: relative;
  z-index: 1;
}

.header {
  position: relative;
  background: #ffffff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
}

.logo {
  max-width: 200px;
  text-decoration: none;
}

.logo img {
  width: 100%;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  font-family: Murecho-ExtraBold, sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #264695;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 2px;
  transition: background-size .3s;
}

.nav-link:hover,
.nav-link.active {
  background-size: 100% 2px;
}

.social {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #ffffff;
}

.soc-link {
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.soc-link svg {
  width: 30px;
  height: 30px;
  fill: #264695;
}
.soc-link:last-child svg {
  width: 31px;
  height: 31px;
}

.soc-link:hover svg {
  z-index: -1;
}

.soc-link:nth-child(1):hover {
  background-image: url("../images/telegram.png");
  background-size: cover;
}

.soc-link:nth-child(2):hover {
  background-image: url("../images/insta.png");
  background-size: cover;
}

.soc-link:nth-child(3):hover {
  background-image: url("../images/linkedin.png");
  background-size: cover;
}

.soc-link:nth-child(4):hover {
  background-image: url("../images/facebook.png");
  background-size: cover;
}

.lang {
  display: flex;
  align-items: center;
  font-family: Murecho-Bold, sans-serif;
  font-size: 20px;
  color: #264695;
  cursor: pointer;
  box-sizing: border-box;
}

.lang-item {
  transition: all .3s linear;
  padding: 0 2px;
}

.lang-item:not(.active):hover {
  transform: rotate(360deg);
  color: #ffffff;
  background: #264695;
}

.lang-item.active {
  color: #ffffff;
  background: #ff0000;
}

.lang-line {
  display: block;
  width: 2px;
  height: 20px;
  background: #264695;
  margin: 0 4px;
}

.intro {
  background-image: url("../images/bg-intro.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.intro-container {
  padding: 120px 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 40% 1fr;
  column-gap: 100px;
  justify-content: space-between;
}

h1 {
  font-family: Murecho-Black, sans-serif;
  font-size: 50px;
  letter-spacing: 4px;
  line-height: 120%;
  max-width: 610px;
  margin-bottom: 50px;
  color: #ffffff;
}

h1 span {
  color: #ff0000;
  text-shadow: 2px 2px 1px rgb(255 255 255);
}

.intro-desc {
  font-family: Murecho-Regular, sans-serif;
  font-size: 26px;
  line-height: 120%;
  max-width: 650px;
  margin-bottom: 90px;
  color: #ffffff;
}

.intro-action {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.button {
  outline: none;
  border: 0;
  font-family: Murecho-Bold, sans-serif;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.intro-button {
  padding: 25px 10px;
  background: #ffffff;
  color: #264695;
  font-size: 28px;
  text-decoration: none;
}

.intro-button:hover {
  font-family: Murecho-ExtraBold, sans-serif;
  color: #ffffff;
  background: #264695;
}

.intro-image {
  max-width: 100%;
}

.intro-image img {
  width: 100%;
  box-shadow: 0 0 20px 10px rgb(255, 255, 255);
}

.partner-slider {
  background: rgb(255 255 255);
  padding: 100px 50px;
}

.partner-slider-title {
  color: #264695;
}

.partner-slider-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: hidden;
}

.partner-slider-item {
  max-width: 20%;
  display: flex;
  flex-direction: column;
}

.partner-slider-item-image {
  flex-grow: 1;
  margin-bottom: 10px;
}

.partner-slider-item img {
  width: 100%;
  flex-grow: 1;
}

.partner-slider-item-text {
  padding: 20px 0;
  font-family: Murecho-Medium, sans-serif;
  font-size: 30px;
  color: #151515;
  text-align: center;
  border: 0;
  border-top: 10px double #808080;
}

.partner-slider-item-name {
  font-family: Murecho-SemiBold, sans-serif;
  font-size: 40px;
  text-align: center;
  color: #151515;
}

.partner-slider-item:first-child {
  position: relative;
  right: -150%;
  animation: show 2s ease-in-out -.5s;
  animation-fill-mode: forwards;
}

.partner-slider-item:nth-child(2) {
  position: relative;
  right: -150%;
  animation: show 2.3s ease-in-out 0s;
  animation-fill-mode: forwards;
}

.partner-slider-item:last-child {
  position: relative;
  right: -150%;
  animation: show 2.5s ease-in-out .5s;
  animation-fill-mode: forwards;
}

@keyframes show {
  to {
    right: 0;
  }
}

.about {
  background-image: url("../images/bg.jpg");
  background-size: contain;
  position: relative;
}

.matrix-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 90%;
  background: #264695;
}

.about-container {
  position: relative;
  padding: 100px 20px;
  z-index: 1;
}

h2 {
  font-family: Murecho-Black, sans-serif;
  font-size: 44px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 60px;

}

.about-title {
  color: #ffffff;
}

.about-title span {
  font-size: 34px;
}

.about p {
  font-family: Murecho-Regular, sans-serif;
  font-size: 34px;
  line-height: 120%;
  text-align: center;
  margin: 0 auto 100px;
  color: #ffffff;
}

.what-doing {
  padding: 30px 10px;
  background: #ffffff;
  margin-bottom: 100px;
}

.what-doing-title {
  color: #264695;
}

.what-doing-items {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  padding: 0 20px;
}

.what-doing-items li {
  font-family: Murecho-Regular, sans-serif;
  font-size: 30px;
  color: #ffffff;
  background: #264695;
  padding: 30px 30px;
  text-align: justify;
  text-indent: 50px;
  border: 1px solid #ffffff;
}

.what-we {
  background: #ffffff;
  padding: 50px 0 20px;
  margin-bottom: 50px;
}

.what-we-title {
  color: #264695;
}

.what-we-info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  box-sizing: border-box;
}

.what-we-info-image {
  min-width: 500px;
}

.what-we-info-image img {
  width: 100%;
}

.what-we-info-item:nth-child(even) .what-we-info-image {
  order: 1;
}

.what-we-info-text {
  font-family: Murecho-SemiBold, sans-serif;
  font-size: 34px;
  line-height: 120%;
  text-align: justify;
  color: #264695;
  padding: 0 60px;
}

.slogan {
  background: #ffffff;
  padding: 40px 0;
}

h3 {
  font-family: Murecho-Regular, sans-serif;
  font-size: 38px;
  text-align: center;
  margin-bottom: 50px;
}

.slogan.change {
  background: #264695;
}

.slogan-title {
  color: #264695;
  margin-bottom: unset;
}

.slogan-title span.orange {
  color: #f5ac70;
}
.slogan-title span:last-child {
  font-family: Murecho-Bold, sans-serif;
  font-size: 50px;
  margin-top: 20px;
  display: inline-block;
}

.slogan-title span {
  font-family: Murecho-ExtraBold, sans-serif;
  font-size: 50px;
  display: inline-block;
  margin-bottom: 20px;
}
.services {
  background-image: url("../images/services-bg.jpg");
  background-size: cover;
}

.services-container {
  padding: 100px 20px;
}

.services-title {
  color: #ffffff;
  margin-bottom: 80px;
}

.services-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}

.services-item-image {
  width: 100%;
  height: 60%;
  overflow: hidden;
  box-shadow: 0 0 20px 10px rgb(255, 255, 255);
}

.services-item-image img {
  width: 100%;
  transition: all .3s linear;
}

.services-item-image:hover img {
  transform: scale(1.05, 1.05);
}

.services-item-text {
  font-family: Murecho-Medium, sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  color: #ffffff;
}

.certificates {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  position: relative;
}

.certificates-container {
  padding: 50px 20px 100px;
  position: relative;
  z-index: 1;
}

.certificates-title {
  color: #ffffff;
}

.certificates-slider {
  width: 50%;
  position: relative;
}

.swiper-slide-image {
  text-align: center;
}

.swiper-slide-image img {
  width: 100%;
}

.certificate-button-prev,
.certificate-button-next {
  width: 30px;
  position: absolute;
  top: calc(50% - 32px);
  z-index: 2;
  cursor: pointer;
  opacity: 20%;
}

.certificate-button-prev {
  left: 5px;
}

.certificate-button-next {
  right: 5px;
}

.certificate-button-prev svg,
.certificate-button-next svg {
  fill: #264695;
}

.certificate-button-prev:hover,
.certificate-button-next:hover {
  opacity: 100%;
}

.questions {
  background: #ffffff;
}

.questions-container {
  padding: 80px 20px;
}

.questions-title {
  color: #264695;
}

.questions-container p {
  font-family: Murecho-Regular, sans-serif;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  max-width: 650px;
  margin: 0 auto 50px;
  color: #264695;
}

.questions-block {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  box-shadow: 0 15px 20px 0 rgb(0 0 0 / 5%);
  border-radius: 5px;
  border: 1px solid #EBEDEE;
  overflow: hidden;
}

.contacts-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 45%;
  padding: 40px 40px;
}

.contacts-link {
  display: inline-block;
  margin: 0 0 15px;
  text-decoration: none;
  color: #264695;
  font-family: Murecho-Regular, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.contacts-link:hover {
  color: #172c61;
}

.form-block {
  display: flex;
  flex-direction: column;
  width: 45%;
  background-color: #264695;
  padding: 40px 40px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin: 0 0 20px;
  outline: none;
  border: 0;
  border-radius: 5px;
  background-color: #F3F3F3;
  padding: 15px 20px;
  font-family: Murecho-Bold, sans-serif;
  font-size: 20px;
  max-width: 100%;
  color: #172c61;
}

textarea {
  min-height: 150px;
  resize: none;
  overflow-y: auto;
}

.form-input::placeholder {
  color: #5B5B5B;
}

.form-action {
  display: flex;
  justify-content: center;
}

.form-button {
  padding: 15px 20px;
  font-size: 18px;
  background-color: transparent;
  color: #ffffff;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ffffff;
}

.form-button:hover {
  background-color: #172c61;
  border: 1px solid transparent;
}

.footer {
  background-color: #0e1b3b;
}

.footer-container {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
.footer-top .nav-items {
  flex-direction: column;
}
.footer-top .nav-item .nav-link {
  background-image: unset;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-top .nav-item {
  margin: unset;
}
.footer-top .nav-item .nav-link:hover {
  color: #ffffff;
}

.footer-top .nav-item .nav-link.active {
  color: #ffffff;
}

.footer-top .social  {
  background-color: #0e1b3b;
}
.footer-top .social .soc-link svg {
  fill: #ffffff;
}

.contacts,
.social{
  color: #ffffff;
}

.contacts-title,
.social-title{
  font-family: Murecho-Black, sans-serif;
  font-size: 22px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.contacts-item {
  margin-bottom: 20px;
}

.address-title {
  font-family: Murecho-ExtraBold, sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
}

.address-place {
  font-family: Murecho-Regular, sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-top .contacts-link {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  margin: unset;
}

.footer-top .contacts-link:hover {
  color: #f5ac70;
}

.footer .social {
  display: flex;
  flex-direction: column;
}

.social-items {
  display: flex;
}

.rights {
  font-family: Murecho-Light, sans-serif;
  font-size: 16px;
  color: #ffffff;
}